<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>la torta - design</title>
</head>
<body>
	<h2>design</h2>
	<form method="POST" th:object="${design}">
		<h3>Che torta?</h3>
		<div th:each="ingredient : ${torta}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT.NAME</span>
		</div>
		<h3>'L dentro</h3>
		<div th:each="ingredient : ${proteine}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT.NAME</span>
		</div>
		<h3>Vegetali</h3>
		<div th:each="ingredient : ${vegetali}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT.NAME</span>
		</div>
		<h3>Formaggio l' vole?</h3>
		<div th:each="ingredient : ${formaggio}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}" /> <span th:text="${ingredient.name}">INGREDIENT.NAME</span>
		</div>

		<div>
			<h3>Dai un nome alla tua torta</h3>
			<input type="text" th:field="*{name}" /> <br />

			<button>invia</button>
		</div>
	</form>
</body>
</html>